body{
    margin: 0;
    padding: 0;
    /* Evita el scroll */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

a{
    text-decoration: none;
    display: inline;
    color: black;
}

header{
    width: 100%;
    height: 140px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

header .header-icons-container{
    width: 100%;
    height: 60px;
    display: grid;
    background-color: rgb(255, 102, 0);
}

header .header-icons-container .icons{
    width: 300px;
    height: auto;
    display: flex;
    justify-items: flex-end;
    align-items: center;
    justify-content: space-between;
    justify-self: end;
    margin-right: 50px;
}

header .icons span{
    color: white;
}

nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 80px;
}

nav .nav-logo-container{
    margin-left: 50px;
}

nav .nav-logo-container img{
    width: 220px;
    margin-top: 10px;
}

nav .profile-link{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
}

nav .profile-link a{
    color: black;
    border-bottom: 1px solid black;
}

.home-main{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    /* Ocupa el tamaño vertical total de la pantalla */
    height: calc(100vh - 140px);
    background-image: url(https://cdn.pixabay.com/photo/2021/09/25/10/08/road-6654573_960_720.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-main section{
    display: grid;
    grid-column: 2;
    justify-items: center;
    height: 350px;
    margin-top: 80px;
}

.home-main-title{
    font-size: 40px;
    font-weight: bold;
    /* Espacio entre las letras */
    letter-spacing: 5px;
    color: white;
    text-align: center;
}